<div id="plugin_container"
	style="min-width:480px;min-height:190px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#"
	class="eqLogic-widget eqLogic allowResize" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

	<link rel="stylesheet" type="text/css" href="plugins/horlogehtc/core/template/dashboard/css/digiclock.css" />
	<script type="text/javascript"
		src="plugins/horlogehtc/core/template/dashboard/scripts/jquery.jdigiclock.js"></script>
	<div id="digiclock#id#">
		<div id="digital_container">
			<div id="clock">
				<script type="text/javascript">
				    function waitReady() {
						console.log("waiting...");
						if (typeof $('#digiclock#id#').jdigiclock != 'function') {
						    console.log("again !");
						    setTimeout(waitReady, 100);
						} else {
						    console.log("Ok stop !");
						    $('#digiclock#id#').jdigiclock();
						}
						console.log("fin waitReady...");
				    }
				    waitReady();
				</script>
			</div>
		</div>
	</div>
</div>
