<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
	<i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
	<center>#name#</center>
	<center>#condition# </center>
	<center>#temperature# °C / #humidity# %</center>
	<center>#windspeed# km/h</center>
	<div>
	</div>

	<script>
		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: '#refresh_id#'});
		});
	</script>

</div>
